
#browser_theme .description {
  display: none;
}

/***********************************
  ICONS
***********************************/
#browser_theme .icon {
  display: inline;
  padding: 0 8px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
}

#browser_theme .icon.add { background-image: url(images/add.png); }
#browser_theme .icon.delete { background-image: url(images/delete.png); }
#browser_theme .icon.edit { background-image: url(images/edit.png); }
#browser_theme .icon.help { background-image: url(images/help.png); }



/***********************************
  TABLES
***********************************/
#browser_theme table tr {
  height: 30px;
}

#browser_theme table td div.handle {
  display: block;
}

#browser_theme table td.file div.form-item {
  display: inline;
}

#browser_theme th.action { width: 16px; }

/***********************************
  JGROWL
***********************************/
#browser_theme div.messages {
  position: fixed;
  top: -15px;
  right: 0;
  border: none;
  background: transparent;
}

#browser_theme div.messages div.jGrowl-notification {
  position: relative;
  background: #FFFFFF url(images/bg_normal.jpg) repeat-x 0 0;
  border: 1px solid #D9EAF5;
  color: #568BB6;
  width: 300px;
  word-wrap: break-word;
}

#browser_theme div.messages div.jGrowl-notification div.close {
  font-size: 14pt;
  position: absolute;
  top: 0;
  right: 3px;
}

#browser_theme div.messages div.jGrowl-notification div.header {
  font-size: 10pt;
  padding: 0 25px 0 25px;
}

#browser_theme div.messages div.jGrowl-notification div.message {
  font-size: 8pt;
  padding: 5px 25px 0 25px;
  text-align: justify;
}

#browser_theme div.messages div.jGrowl-notification .icon {
  position: absolute;
  display: block;
  height: 16px;
  width: 16px;
  top: 13px;
  left: 10px;
  cursor: default;
}
